.wrapper {
    width: 1240px;
    margin: 0 auto;
}

.shortcut {
    height: 53px;
    background-color: #333;
}

.shortcut .wrapper {
    height: 53px;
}

.shortcut .wrapper ul {
    float: right;
}

.shortcut .wrapper ul li {
    float: left;
    line-height: 53px;
}

.shortcut .wrapper a {
    padding: 0 15px;
    border-right: 2px solid #666;
    color: #cdcdcd;
    font-size: 14px;
}

.shortcut .wrapper a:hover {
    color: #27ba9b;
}

.shortcut .wrapper a span {
    margin-right: 5px;
    width: 18px;
    height: 18px;
    background-image: url(../images/手机.png);
    display: inline-block;
    vertical-align: middle;
}

.header {
    height: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header .logo {
    float: left;
    width: 175px;
    height: 70px;
    background-image: url(../images/logo.png);
    background-size: contain;
    margin-right: 30px;
}

.header .logo a {
    font-size: 0;
}

.header .nav ul {
    float: left;
}

.header .nav ul li {
    float: left;
    padding-right: 48px;
    line-height: 70px;
}

.header .nav ul li a {
    color: #333;
    padding-bottom: 8px;
}

.header .nav li a:hover {
    color: #27ba9b;
    border-bottom: 2px solid #27ba9b;
}

.header .search {
    position: relative;
    float: left;
    width: 170px;
    height: 30px;
    margin-top: 24px;
    border-bottom: 2px solid #e7e7e7;
}

.header .search input {
    width: 170px;
    height: 28px;
    border: none;
}

.header .search input::placeholder {
    padding-left: 25px;
    color: #ccc;
}

.header .search span {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url(../images/搜索.png);
    position: absolute;
    left: 0;
    top: 3px;
}

.header .car {
    position: relative;
    float: left;
    width: 23px;
    height: 23px;
    margin-left: 20px;
    margin-top: 28px;
    background-image: url(../images/_购物车.png);
}

.header .car span {
    position: absolute;
    top: -6px;
    right: -13px;
    width: 20px;
    height: 15px;
    background-color: orange;
    display: inline-block;
    border-radius: 7.5px;
    line-height: 15px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.footer {
    height: 348px;
    background-color: #333;
}

.footer .wrapper .top {
    height: 174px;
    padding-top: 59px;
    padding-left: 135px;
    border-bottom: 1px solid #434343;
}

.footer .top ul {
    float: left;
}

.footer .top ul li {
    position: relative;
    float: left;
    width: 195px;
    height: 58px;
    margin-right: 170px;
}

.footer .top ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 58px;
    height: 58px;
    background-image: url(../images/货物-开心.png);
    display: inline-block;
    vertical-align: middle;
}

.footer .top ul span {
    color: #fff;
    font-size: 28px;
    margin-left: 77px;
    line-height: 58px;
}

.footer .top ul li:nth-child(2)::before {
    background-image: url(../images/赞.png);
}

.footer .top ul li:nth-child(3)::before {
    background-image: url(../images/小货车.png);
}

.footer .bottom {
    padding-top: 40px;
    color: #999;
    font-size: 14px;
    text-align: center;
}

.footer .bottom a {
    color: #999;
    font-size: 14px;
}

.footer .bottom p {
    margin-bottom: 20px;
}